<html>
<head>
<title>ShirazBello's Blog</title>  
</head>
<body>
    <div>
            <h1><a href="/">ShirazBello's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.11.2020, 10:29</p>
            <h2><a href="">Opening Chapter post</a></h2>
            <p>"Technology now allows people to connect anytime, anywhere, to anyone in the world, from almost any device. This is dramatically changing the way people work, facilitating 24/7 collaboration with colleagues who are dispersed across time zones, countries, and continents. " — Michael Dell, Dell</p>
        </div>

        <div>
            <p>published: 29.11.2020, 10:34</p>
            <h2><a href="">My second post</a></h2>
            <p>"We like to give people the freedom to work where they want, safe in the knowledge that they have the drive and expertise to perform excellently, whether they at their desk or in their kitchen. Yours truly has never worked out of an office, and never will." — Sir Richard Branson, Virgin America f.</p>
        </div>
</body>
</html>